@model IEnumerable<WebApplicationEWX.Models.Employee>

@{
    ViewData["Title"] = "Employees";
    int pageCount = (int)ViewData["PageCount"];
    int pageId = (int)ViewData["PageId"];
    int pageSize = (int)ViewData["PageSize"];
}

<h1>Employees</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="@((pageId == 1  ? "disabled " : "")+ "page-item")"><a class="page-link" href="/Employee/Index?pageId=@(pageId-1)&pageSize=@pageSize">Previous</a></li>
       
        @for (int i= 1; i <= pageCount; i++)
        {
            <li class="@((pageId == i? "disabled " : "") + "page-item" )"><a class="page-link" href="/Employee/Index?pageId=@i&pageSize=@pageSize">@i</a></li>
        }
        <li class="@((pageId == pageCount? "disabled " : "") +  "page-item")"><a class="page-link" href="/Employee/Index?pageId=@(pageId+1)&pageSize=@pageSize">Next</a></li>
        
    </ul>
</nav>
